{% extends 'base.html' %}

{% block head %}
<title>成果物登録画面</title>
{% endblock head %}

{% block header %}
{% endblock header %}

{% block content %}
<div class='container'>
    <div class="alert alert-success" role="alert">
        成果物情報　登録画面
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for item in forms %}
            {% if item.label == '追記情報' %}
            <div class="mt-4">
                {{ item.label }}{{ item }}
            </div>
            {% elif item.label == 'チェックを入れると他の人には公開されません' %}
            <div class="mt-4">
                {{ item.label }}　{{ item }}
            </div>
            {% else %}
            <div class="mt-4">
                {{ item.label }}（必須）{{ item }}
            </div>
            {% endif %}
        {% endfor %}
        <div class="mt-3">
            <input type="submit" class="btn btn-secondary" value="投稿する">
        </div>
    </form>
    <div class="mt-5"></div>
</div>
{% endblock content %}