{% extends 'base.html' %}

{% block head %}
<title>{{ detail_query.deliverable_name }}詳細画面</title>
{% endblock head %}

{% block header %}
<div class="m-3">
    {% if user.is_authenticated %}
            <a href="{% url 'deliverable_list' %}">リストに戻る</a>
    {% else %}
            <a href="{% url 'deliverable_list' %}">リストに戻る</a>
    {% endif %}
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <!--　詳細情報　-->
    <div class="alert alert-success" role="alert">
        {{ detail_query.deliverable_name }} 詳細情報
    </div>
    <p>成果物名：{{ detail_query.deliverable_name }}</p>
    <p>Git URL：{{ detail_query.git_url }}</p>
    <p>カテゴリー：{{ detail_query.category }}</p>
    <p>使用言語：{{ detail_query.languages }}</p>
    <p>追記情報：{{ detail_query.own_comment }}</p>
    <p>作成日時：{{ detail_query.created_dt|date:'Y-m-d　H時i分s秒' }}</p>
    <!--更新されていない場合は更新日時を表示しない-->
    {% if detail_query.modified_dt != None %}
        <p>最終更新日時：{{ detail_query.modified_dt|date:'Y-m-d　H時i分s秒' }}</p>
    {% endif %}
    {% if detail_query.non_display != None %}
        <p>公開設定：公開しない</p>
    {% else %}
        <p>公開設定：公開する</p>
    {% endif %}
</div>
{% endblock content %}