{% extends 'base.html' %}

{% block head %}
<title>提出した成果物一覧</title>
{% endblock head %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
    <div class="text-right mt-5">
        <a class="btn btn-info" href="{% url 'create' %}" role="button">成果物情報を登録する</a>
    </div>
    {% if list_query == 'None' %}
        <div class="mt-5">
            <div class="card">
                <div class="card-body">
                <b class="text-danger">成果物が登録されていません。<br>右上の登録ボタンから成果物を登録してください。</b>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card-columns">
        {% for item in list_query %}
            <div class="card">
                <div class="card-body">
                <h4 class="card-title text-secondary">{{forloop.counter}}. "{{ item.deliverable_name }}"</h5>
                    <div class="original-ccs-card">
                        <div><a href="{% url 'deliverable_detail' item.pk %}" class="btn btn-outline-info">詳細情報</a></div>
                        <div><a href="{% url 'deliverable_update' item.pk %}" class="btn btn-outline-success mx-3">編集</a></div>
                        <div><a href="{% url 'deliverable_delete' item.pk %}" class="btn btn-outline-danger">削除</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}



